table{
  width: 100%;
  border-top: 1px solid #ddd;
}

thead{
  text-transform: uppercase;
}

tr {
  outline: 0;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  position: relative;
}

th {
  border-right: 1px solid #ddd;
  outline: 0 !important;
}

th:not(.col-first).reactable-header-sort-asc, th:not(.col-first).reactable-header-sort-desc{
  color: #29abe2;
}

th:not(.col-first):after{
  content: '\25B2';
  color: transparent;
  font-size: 10px;
  position: relative;
  left: 5px;
  bottom: 1px;
}

th:not(.col-first).reactable-header-sort-asc:after{
  content: '\25B2';
  color: #29abe2;
}

th:not(.col-first).reactable-header-sort-desc:after{
  content: '\25BC';
  color: #29abe2;
}

th.col-first{
  color: transparent !important;
  width: 5rem;
}

td {
  color: #333;
  background: #fff;
  padding: 3px 10px;
  cursor: pointer;
}

td.transparent {
  background: transparent;
  border-bottom: 0;
}

.listing > td {
  height: 34px;
}

table.errorTypes {
  border: none;
}

table.errorTypes td {
  padding: 5px 0;
  border: 0;
}

table.errorTypes .source {
  width: 120px;
  padding-right: 10px;
  text-align: right;
}


.program-list table {
  border-collapse: separate;
}

.program-list table thead tr:nth-child(1) th{
  background: #EFF3F4;
  position: sticky;
  top: 0;
  z-index: 3;
}

.show-detail{
  cursor: pointer;
}

.col-first {
  padding-left: 20px;
}

.display.error {
  width: 18px;
  height: 18px;
  border: 2px solid #EFF3F4;
  border-radius: 50%;
  margin: 0 auto;
}

.display.error.hidden {
  visibility: hidden;
}

.listing-row.active {
  background: #BFE6F7;
}

.badge {
  border-radius: 3px;
  font-weight: normal;
  padding: 1px 2px;
  margin-right: 5px;
  background: #666;
  border: 1px solid #666;
}

.badge.api {
  background: white;
  color: #666;
  font-weight: 600;
}

.badge.msa {
  background: rgb(64, 162, 243);
  color: white;
  font-weight: 600;
}

.reactable-no-data td{
  background: transparent;
  border-bottom: 0;
  text-align: center;
}

.no-errors-msg{
  width: 324px;
  height: 308px;
  margin-top: 50px;
  margin-bottom: 200px;
}

.listing.selected td{
  background-color: rgba(41,171,226,0.3);
}

.listing.selected .errorTypes td{
  background-color: transparent;
}

.loadingPanel{
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  color: #999;
  letter-spacing: 1px;
  padding: 20px 0 50px;
}

.sourceColumn{
  min-width: 90px;
}

.typeColumn{
  min-width: 200px;
}

.programTypeColumn{
  min-width: 120px;
}

.startDateColumn{
  min-width: 100px;
}

.errorFoundColumn{
  min-width: 142px;
}

.errorDurationColumn{
  min-width: 130px;
}

.timeColumn{
  min-width: 135px;
}
.timeColumnWide{
  min-width: 160px;
  text-transform: uppercase;
}
