.guide-filters{
  border-bottom: 1px solid #e1e1e1;
}

.channelFilterDropdown .channel{
  display: block;
}

.channelFilterDropdown .point {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 10px solid #fff;
  position: absolute;
  top: -10px;
  left: 128px;
  box-shadow: 0 0 0 -10px rgba(0, 0, 0, 0.5);
}

.react-datepicker__day:not(.react-datepicker__day--disabled) {
  color: #000;
}

.react-datepicker__day.react-datepicker__day--selected {
  color: #fff;
}

.dropdown input.display[disabled] {
  background: #eee !important;
  cursor: not-allowed;
}
