.scheduleMain {
  width: 1099px;
  display: block;
  position: relative;
  overflow: hidden;
}

.scheduleItem {
  background-color: #dddfe0;
  color: #333;
  border-radius: .375rem;
  height: 5.5rem;
  overflow: hidden;
  margin-right: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  flex-shrink: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}

.current {
  border-top-left-radius: 0em;
  border-bottom-left-radius: 0em;
  border-left: none;
}

.dummy,
.dummy:hover,
.hasError,
.hasError:hover {
  background-color: rgba(204, 0, 0, 0.25);
  color: rgba(204, 0, 0, 1);
  border: 1px solid rgba(204, 0, 0, 1);
  z-index: 1;
}

.dummy{
  cursor: default
}

.scheduleItemActive,
.scheduleItem:not(.dummy):hover {
  background-color: #bee6f6;
  color: inherit;
  border: 0;
  z-index: 2;
}

.title {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: -0.5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: .5rem;
}

.title, .subtitle {
  white-space: nowrap;
  text-overflow: ellipsis;
  min-height: .875rem;
  padding-right: 1rem;
  line-height: 1;
}

.title{
  display: flex;
}

.titleText {
  font-size: 14px;
  font-weight: bold;
}

.subtitle {
  opacity: 0.4;
  font-size: 14px;
  letter-spacing: -0.3px;
  font-weight: 100;
  color: #4a4a4a;
}



/** /DETAIL **/
